 body{
   background: linear-gradient(153deg,rgb(103,227,203),rgb(80,140,226));
   ;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
  
   
 

 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 150px;
    margin-right: 50px;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(143,74,229);
    outline: none;
    font-size: 19px;
  border-radius: 2px;
    


 }
 button{
    width: 60px;
    height: 41px;
    border-radius: 2px;
    background-color:rgb(143,74,229);
    color: white;
    border: none;
    cursor: pointer;

    outline: none;
    
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color:rgb(243,241,244);
  color: black;
  width: 95%;
  text-align: left;

    font-size: 19px;
    padding: 7px;
    
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: rgb(233,74,59);
   padding: 9px 10px 12px 10px;
    color: #fff ;
    top: 2px;
    margin-right: -8px;
 }











